<div class="gallery">
  <div class="gallery-header">Images
  <span class="shuffle"><%= fa_icon("random", text: "Shuffle") %></span></div>

  <div class="gallery-search">
    <%= form_tag(search_path, remote: true) do %>
      <%= text_field_tag "search_image", params[:search_image], placeholder: "Search images" %>
      <%= fa_icon("search") %>
    <% end %>
  </div>

  <ul class="gallery-list">
    <li class="gallery-item blank-image image-white"><img class="background-white" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Solid_white.svg/2000px-Solid_white.svg.png" width="0px" height="0px"></li>
    <li class="gallery-item blank-image image-blue"><img class="background-blue" src="http://www.drodd.com/images14/blue22.jpg" width="0px" height="0px"></li>
    <li class="gallery-item blank-image image-red"><img class="background-red" src="https://target.scene7.com/is/image/Target/red_bg84112-170313_1489428814121?wid=1110&qlt=80&fmt=png" width="0px" height="0px"></li>
    <li class="gallery-item blank-image image-black"><img class="background-black" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYKhVd5iHpu4QGopsJjr2kc-BwE9SuiMfR4JHoOwxvg1MxE48-" width="0px" height="0px"></li>
    <li class="gallery-item blank-image image-yellow"><img class="background-yellow" src="http://is2.mzstatic.com/image/thumb/Purple127/v4/b6/fa/41/b6fa41db-a456-f5a9-1435-6f6c21f2e284/source/1200x630bb.jpg" width="0px" height="0px"></li>
    <% @upload_images.reverse.each do |img| %>
      <li class="gallery-item"><%= image_tag img.bg_img.url, width: '200px', height: '136px' %></li>
    <% end %>

    <% if @img_link.length > 0 %>
      <% @img_link.length.times do |i| %>
        <li class="gallery-item"><%= image_tag @img_link[i], alt: "background", width: '200px', height: '136px' %></li>
      <% end %>
    <% end %>
      <% 10.times do |n| %>
        <li class="gallery-item"><%= image_tag "https://d3ijcis4e2ziok.cloudfront.net/engaging-images-backgrounds/batch-2-full-size/#{@images[:batch_2_full_size][n]}.jpg", alt: "background", width: '200px', height: '136px' %></li>
        <li class="gallery-item"><%= image_tag "https://d3ijcis4e2ziok.cloudfront.net/engaging-images-backgrounds/full-size/#{@images[:full_size][n]}.jpg", alt: "background", width: '200px', height: '136px' %></li>
      <% end %>
  </ul>  

  <%= form_tag({action: 'upload_image'}, multipart: true) do %>
    <%= file_field_tag :bg_img %>
    <%= button_tag "Upload Image", class: 'btn btn-info upload-image' %>
  <% end %>
</div>
