<div class="image-logo" onselectstart="return false">
  <div class="logo-header">Logo</div>
  <div class="logo-info"><%= fa_icon("info-circle") %></div>
  <div class="logo-notice">You can drag on border of the logo to resize it</div>
  <div class="logo-remove"><%= fa_icon("trash", text: "Remove") %></div>
  <div class="logo-container">
    <%= form_tag({action: 'upload_logo'}, multipart: true) do %>
      <%= file_field_tag :logo %>
      <%= button_tag "Insert Logo", class: 'btn btn-info upload-logo' %>
    <% end %>
  </div>
</div>

<div>
  <% @upload_logos.reverse.each do |img| %>
    <div class="logo-item draggable"><%= image_tag img.logo.url, width: '100px', height: '100px', class: "resizable-logo" %></div>
  <% end %>
</div>
