<div id="templates">
  <div class="templates-label" onselectstart="return false">Templates
  <%= fa_icon "angle-down" %></div>
  <div class="templates-container">
    <ul class="templates-list">
      <li class="templates-item templates-item-blank">
        <div class="templates-image"><%= image_tag "https://static.buffer.com/images/pablo/templates-blank.png", width: '140px', height: '125px' %></div>
        <div class="templates-description">Blank</div>
      </li>

      <li class="templates-item templates-item-quote">
        <div class="templates-image"><%= image_tag "https://static.buffer.com/images/pablo/templates-quote.png", width: '140px', height: '125px' %></div>
        <div class="templates-description">Quote</div>
      </li>

      <li class="templates-item templates-item-announcement">
        <div class="templates-image"><%= image_tag "https://static.buffer.com/images/pablo/templates-annoucement.png", width: '140px', height: '125px' %></div>
        <div class="templates-description">Announcement</div>
      </li>

      <li class="templates-item templates-item-promotion">
        <div class="templates-image"><%= image_tag "https://static.buffer.com/images/pablo/templates-promotion.png", width: '140px', height: '125px' %></div>
        <div class="templates-description">Promotion</div>
      </li>

       <li class="templates-item templates-item-love">
        <div class="templates-image"><%= image_tag "https://static.buffer.com/images/pablo/templates-love.png", width: '140px', height: '125px' %></div>
        <div class="templates-description">Love</div>
      </li>

       <li class="templates-item templates-item-outreach">
        <div class="templates-image"><%= image_tag "https://static.buffer.com/images/pablo/templates-outreach.png", width: '140px', height: '125px' %></div>
        <div class="templates-description">Outreach</div>
      </li>
    </ul>
  </div>
</div>