<div class="image-extra-options">
  <div class="image-extra-options-header">Text</div>
  <div class="text-toggles" onselectstart="return false">
    <span class="text-toggle-selected" onclick="select_text(this);">Header</span>
    <span class="text-toggle-selected" onclick="select_text(this);">Quotation</span>
    <span class="text-toggle-selected" onclick="select_text(this);">Bullet</span>
    <span class="text-toggle-selected" onclick="select_text(this);">Bold</span>
  </div>
  <!-- <div id="trash"></div> -->
  <div class="type-box">
    <%= form_tag({action: 'create'}, multipart: true) do %>
      <p style="text-align: center;">Please type your text or paste URL</p>
      <%= kindeditor_tag :doc, @content, langType: 'en' %>
      <%= text_field_tag :url, nil, placeholder: "Put URL here...", size: 61 %> <br />
      <%= submit_tag "Submit", class: "btn btn-info", data: { disable_with: "Loading..." } %> 
      <!-- <%= file_field_tag :uploaded_file, onchange:"form.submit();" %> -->
    <% end %>
  </div>
</div>