<div class="url-bar">
  <%= form_tag({action: 'generate_url'}, method: :post, multipart: true, style: "position: absolute;") do %>
    <%= text_field_tag :url, session[:url], placeholder: "Put URL here...", size: 63 %> 
    <%= submit_tag "Submit URL", class: "btn btn-info submit-url", data: { disable_with: "Loading..." } %>
  <% end %> 
</div>

<div class="type-box">
  <%= form_tag({ action: 'create' }, multipart: true) do %>
    <div class="type-box-header">Put your awesome text or generate from URL</div>
    <div class="type-box-content">
      <%= kindeditor_tag :doc, @content, langType: 'en', height: 400 %>
      <%= submit_tag "Generate Content", class: "btn btn-info generate-btn", data: { disable_with: "Generating..." } %>
    </div>
  <% end %>
</div>

<div class="image-extra-options">
  <div class="image-extra-options-header">Text</div>
  <div class="text-toggles" onselectstart="return false">
    <span class="text-toggle text-toggle-selected">Header</span>
    <span class="text-toggle text-toggle-selected">Quotation</span>
    <span class="text-toggle text-toggle-selected">Bullet</span>
    <span class="text-toggle text-toggle-selected">Bold</span>
  </div>
  <!-- <div id="trash"></div> -->
</div>