<div id="toolbar" onselectstart="return false">
    <div class="change-font change-font-bar">
      <div class="font-name">Change Font</div>
      <div class="change-font-arrow"></div>
    </div>
    <div id="change-size" title="Change font-size"><%= fa_icon("font") %></div>
    <div id="change-weight" title="Bold text"><%= fa_icon("bold") %></i></div>
    <div id="change-italic" title="Italic"><%= fa_icon("italic") %></div>
    <div id="change-align" title="Change align"><%= fa_icon("align-left") %></div>
    <div id="change-color" title="Change font-color"></div>
    <div id="delete" title="Finish edit"><%= fa_icon("times") %></div>
    <div class="color-menu">
      <div class="color-white"></div>
      <div class="color-black"></div>
      <div class="color-blue"></div>  
      <div class="color-green"></div>  
      <div class="color-gray"></div>  
      <div class="color-purple"></div>  
      <div class="color-red"></div>  
      <div class="color-yellow"></div>  
      <div class="color-aqua"></div>  
      <div class="color-darkorange"></div>  
    </div>

    <div class="font-menu">
      <div class="change-font font-Vibur">Vibur</div>
      <div class="change-font font-Satisfy">Satisfy</div>
      <div class="change-font font-PermanentMarker">Permanent Marker</div>
      <div class="change-font font-Pacifico">Pacifico</div>
      <div class="change-font font-Oswald">Oswald</div>
      <div class="change-font font-Mogra">Mogra</div>
      <div class="change-font font-MarckScript">Marck Script</div>
      <div class="change-font font-Lobster">Lobster</div>
      <div class="change-font font-Lato">Lato</div>
      <div class="change-font font-DancingScript">Dancing Script</div>
    </div>

    <div class="size-menu">
      <div class="size-option size-12">12px</div>
      <div class="size-option size-16">16px</div>
      <div class="size-option size-24">24px</div>
      <div class="size-option size-32">32px</div>
      <div class="size-option size-36">36px</div>
      <div class="size-option size-40">40px</div>
      <div class="size-option size-45">45px</div>
    </div>
  </div>