<!-- make elements draggable -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>   
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 

<div class="doc-container">
  
  <div class="reposition-bar">
    <div class="btn btn-success done">Done</div>
    <div class="btn btn-info reposition-reset">Reset</div>
    <div class="notice">You can resize the image by dragging on the lower right of the image</div>
  </div>
  <div class="msg">This is your last revision</div>

  <div class="image-options">
    <%= render 'text' %>
    <%= render 'tool' %>
    <%= render 'size' %>
    <%= render 'filter' %>
    <div class="reload-logo"><%= render 'logo' %></div>
  </div>

  <div class="reload-gallery"><%= render 'gallery' %></div>

  <div class="canvas-center">
    <%= render 'result' %>

    <div class="crop-frame"></div>   
    <div id="background-images"></div>
  </div>

  <div id="goTopBtn"><%= fa_icon "arrow-circle-up 3x" %></div>
</div>
