<!-- make elements editable by using FroalaEditor -->
<!-- Include external JS libs. -->
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>
 -->
<!-- Include Editor JS files. -->
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.0/js/froala_editor.pkgd.min.js"></script> -->

<!-- Initialize the editor. -->
<!-- <script> $(function() { $('.editable').froalaEditor({
      toolbarInline: true,
      charCounterCount: false,
      toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '-', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'indent', 'outdent', 'insertImage', 'insertLink', 'insertFile', 'insertVideo', 'undo', 'redo'],
      toolbarVisibleWithoutSelection: true
  }) }); </script> -->

<!-- make elements draggable -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>   
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 

<div class="doc-container">
  <div class="gallery">
    <div class="gallery-header">Images</div>
    <div class="gallery-search"></div>
    <ul class="gallery-list">
      <% 5.times do |n| %>
        <li class="gallery-item" onclick="select_image(this);"><%= image_tag "https://d3ijcis4e2ziok.cloudfront.net/engaging-images-backgrounds/batch-2-thumbnail/#{@images[:batch_2_thumbnail][n]}.jpg", alt: "background", width: '200px' %></li>
        <li class="gallery-item" onclick="select_image(this);"><%= image_tag "https://d3ijcis4e2ziok.cloudfront.net/engaging-images-backgrounds/thumbnail/#{@images[:thumbnail][n]}.jpg", alt: "background", width: '200px' %></li>
      <% end %>
    </ul>  
  </div>

  <div class="canvas-center">
    <div class="result">
      <canvas id="background"></canvas>
      <div id="header" class="editable">
        <% @header.each do |header| %>
          <div class="draggable"><%== header %></div>
        <% end %>
      </div>
      <div id="quotation" class="editable draggable"><%== @quotation %></div>
      <div id="bullet" class="editable">
        <% @bullet.each do |bullet| %>
          <div class="draggable"><%== bullet %><br /></div>
        <% end %>
      </div>
      <div id="bold" class="editable">
        <% @bold.each do |bold| %>
          <p class="draggable"><%== bold %></p> <br />
        <% end %>
      </div>      
    </div>  
  
    <div class="type-box">
      <%= form_tag({action: 'create'}, multipart: true) do %>
        <p style="text-align: center;">Please type your text or paste URL</p>
        <%= kindeditor_tag :doc, @file_content, langType: 'en' %>
        <%= submit_tag "Submit", class: "btn btn-info", style: "font-size: 16px; height: 30px; width: 80px;" %>
        <!-- <%= file_field_tag :uploaded_file, onchange:"form.submit();" %> -->
        <%= text_field_tag :url, nil, placeholder: "put URL here...", size: 61 %>
      <% end %>
    </div>
  </div>

  <div class="image-options">
    <%= render 'size' %>
    <%= render 'filter' %>
    <%= render 'text' %>
  </div>
</div>