<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">  
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Lato|Lobster|Marck+Script|Mogra|Oswald|Pacifico|Permanent+Marker|Satisfy|Vibur" rel="stylesheet"> 

    <title>WordDoc</title>
    <%= include_gon %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="header">
      <div class="header-container">
        <span style="float: left;">Word-doc</span>
        <%= render 'templates' %>
      </div>
    </section>      
    <%= yield %>
  </body>
</html>
